<!DOCTYPE html>
<html>
<head>
    <title>BeyondView CCAPI</title>
    {% include 'page_headers.html' %}
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 colbody">
                {% comment %} <a href="/gsimg" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Panos</a> 
                <br><br>
                <a href="/upload" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Upload</a> 
                <br><br>
                <a href="/generate" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Generate</a>
                <br><br>
                <a href="/images" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Images</a> 
                <br><br> {% endcomment %}
            </div>
            <div class="col-sm-6 colbody">
                <h1>BeyondView CCAPI</h1>
                <p>Implementation of <a href="https://github.com/CubiCasa/CubiCasa5k">Cubicasa</a> </p>
            </div>
            <div class="col-sm-3 colbody"></div>
        </div> 
    </div> 

    

</body>
</html>
