<!DOCTYPE html>
<html>
<head>
    <title>Upload PNG Image</title>
    {% include 'page_headers.html' %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col colbody">
                <h1>Upload PNG Image</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>